@import'fonts';
@import'vars';

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

h1, h2, h3, p, ul {
    margin: 0;
}

body {
    min-width: 360px;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-style: normal;
    color: $dark-blue;
    background-color: $blue;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.wrapper {
    padding: 0 15px;
}


/* Header
==========*/

.header {
    position: relative;
    padding-top: 20px;
}

.header__content {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $blue;
    text-align: center;
    padding-top: 102px;
}


/* Logo
==========*/

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.logo__image {
    width: 25px;
    height: 25px;
    background-image: linear-gradient(262.95deg, $yellow 0%, $orange-yellow 99.33%);    
    background-size: 25px 25px;
    background-position: left;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.logo__image svg {
    width: 200px;
    height: 26px;
}

.logo__btn-open {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__line {
    width: 18px;
    height: 2px;
    display: block;
    background-image: linear-gradient(262.95deg, $yellow 0%, $orange-yellow 99.33%);
    position: relative;
}

.logo__line::before,
.logo__line::after {
    content: '';
    display: block;
    width: 18px;
    height: 2px;
    background-image: linear-gradient(262.95deg, $yellow 0%, $orange-yellow 99.33%);
    position: absolute;
}

.logo__line::before {
    top: -6px;
    right: -2px;
}

.logo__line::after {
    bottom: -6px;
    right: -2px;
}


/* Nav
==========*/

.nav {
    text-align: center;
}

.nav__list {
    display: inline-block;
    text-align: left;
    padding-left: 32px;
    list-style-image: url(../images/circle.png);
}

.nav__item {
    display: flex;
    margin-bottom: 24px;
}

.nav__link {
    text-decoration: none;
}